@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 scroll-behavior: smooth;
}

@layer components {
.center {
  @apply flex justify-center items-center
}
.between {
  @apply flex  justify-between items-center
}
.start {
  @apply flex  justify-start items-start
}
.blur1 {
    @apply md:w-[100px] h-[100px] w-[200px] rounded-full absolute -z-10 bg-primary2;

    filter: blur(20px);
    -webkit-filter: blur(120px);
  }
.blur2 {
    @apply md:w-[100px] h-[100px] w-[200px]  rounded-full absolute -z-10 bg-secondary;

    filter: blur(20px);
    -webkit-filter: blur(120px);
  }
 
  .main-btn{
    @apply py-2 md:px-6 px-4  bg-primary2 text-white md:text-sm text-xs center rounded-lg hover:bg-primary2/50 font-medium ;
   box-shadow:   0px 4px 10px 0px rgba(255, 0, 0, 0.53);  
  }

}